PORT=8080
TARGET_URL=http://127.0.0.1:3000
WAF_API_KEY=a7f9c2e4b8d1f6a3c9e2b4d7f1a8c3e5b6d9f2a4c7e1b3d5f8a9c2e4b6d1f3a5
ADMIN_USER=admin
ADMIN_PASSWORD=Str0ng!Passw0rd#2026
DATA_FILE=waf-db.json
TRUST_PROXY=false
